
body {
    margin: 0;
    font-family: -apple-system,'Ubuntu', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
       'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #4f4f4f;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  /*    header  */
  .header-logo {
    height: 2.5rem !important;
    margin-left: .5rem !important;
    margin-right: 1.25rem !important;
    border: 3px solid #fff;
    border-bottom: 5px solid #fff;
    box-shadow: -2px 0 8px #111;
    transform: rotate(-10deg);
  }
  /*    main body of the page   */

  main {
      display: block;
      height: calc(100vh - 100px);
  }

  /*    footer      */
  .footer {
      display: block;
      width: 100%;
      position: absolute;
      bottom: 0;
      color: whitesmoke !important;
      padding-top: 1rem;
      padding-bottom: .5rem;
      font-size: .9rem;

      a {
        color: #fff;
        text-decoration: underline;
      }
  }
